<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :navbar_classes %>
  <%= f.text_field :navbar_classes, label: "Navigation bar CSS classes", class: 'form-control form-control-monospace' %>
  <small>Overrides the default CSS classes for the Bootstrap navigation bar (by default, <code>navbar-light bg-faded</code>)</small>
</div>

<div class="form-group">
  <%= f.label :content %>
  <%= f.text_area(:content, :style => "min-height: 40vh;", class: 'form-control form-control-monospace') %>
</div>

<%= f.submit class: 'btn btn-primary' %>
