- if @page.errors.any?
  #error_explanation
    %h2
      = pluralize(@page.errors.count, "error")
      prohibited this page from being saved:

    %ul
      - @page.errors.full_messages.each do |msg|
        %li= msg

= f.text_field :name
= f.text_field :slug, style: "font-family: monospace;"

- if @event
  - default_layout_label = @event.default_cms_layout ? "Default (currently set as #{@event.default_cms_layout.name})" : "Default layout"
  = f.collection_select :cms_layout_id, @event.cms_layouts.order(:name), :id, :name, include_blank: default_layout_label, label: 'Layout'
- else
  = f.collection_select :cms_layout_id, CmsLayout.global.order(:name), :id, :name, include_blank: 'Default layout', label: 'Layout'

.d-flex.flex-row.align-items-stretch.my-4
  = find_and_preserve(f.text_area(:content, :style => "min-height: 40vh; flex-grow: 1;", :class => "cadmus-previewable-html form-control-monospace", :"data-preview-in" => "html-preview", wrapper: { class: 'd-flex flex-column mr-2', style: 'min-width: 50%;' }))
  .card.card-outline-secondary
    .card-header Preview
    .card-body
      #html-preview

= f.submit class: "btn btn-primary"

= javascript_include_tag "cadmus.previewablehtml.js"
:javascript
  $(document).ready(function(){
    $('.cadmus-previewable-html').cadmusPreviewableHtml();
  });
