%h1 Pages in #{@event.name}

%ul.list-group.mb-4
  - @pages.sort_by { |page| canonical_page_path(page) }.each do |page|
    %li.list-group-item
      .row.w-100
        .col
          = page.name
          %code
            %small
              - path = canonical_page_path(page)
              = link_to path, path, target: '_blank'
        .col.text-right
          = link_to "Edit", [@event, :edit, page], class: 'btn btn-secondary btn-sm'
          = link_to "Delete", [@event, page], method: 'DELETE', "data-confirm" => "Are you sure you want to delete this page?", class: 'btn btn-danger btn-sm'

= link_to "New page", [@event, :new, :page], class: 'btn btn-primary'