%h1 Files

- @cms_files.each_slice(4) do |slice|
  .card-deck.mb-4
    - slice.each do |cms_file|
      .card
        .card-header
          .float-right
            = link_to event_cms_file_path(@event, cms_file), class: 'btn btn-secondary px-2 py-1', method: 'DELETE', "data-confirm" => "Are you sure you want to delete #{cms_file.filename}?" do
              = fa_icon 'trash'
          %small{style: 'font-weight: bold; word-wrap: break-word;'}
            = cms_file.filename
        .card-block.text-center
          = link_to cms_file.file.url do
            - if cms_file.is_image?
              = image_tag cms_file.file.url, class: 'img-responsive', style: 'max-height: 100px; max-width: 100px;'
            - else
              = fa_icon icon_for_content_type(cms_file.file.content_type), style: 'font-size: 100px'
        .card-footer.text-right
          %small
            = number_to_human_size cms_file.file.size


.card
  .card-header Upload a file
  .card-block
    = bootstrap_form_for :cms_file, multipart: true do |f|
      = f.file_field :file, class: 'form-control-file', hide_label: true
      = f.submit "Upload"