%ul.navbar-nav
  - if user_signed_in?
    %li.nav-item.dropdown
      %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
        = current_user.email
      .dropdown-menu
        - if current_user.admin?
          - if @event && @event.persisted?
            = link_to "Admin", event_admin_path(@event), class: 'dropdown-item'
          - else
            = link_to "Admin", admin_path, class: 'dropdown-item'
        = link_to "My account", edit_user_registration_path, class: 'dropdown-item'
        = link_to "Log out", destroy_user_session_path, method: 'DELETE', class: 'dropdown-item'
  - else
    %li= link_to "Log in", new_user_session_path, class: 'nav-link'
