- content_for :content do
  .container-fluid
    .row
      .col-3.d-flex.flex-column
        .card.card-outline-secondary.bg-faded{style: "flex-grow: 1;"}
          .card-block
            %h3.card-title Admin
            %ul
              %li= link_to "Event settings", edit_event_path(@event)
              %li= link_to "Pages", event_pages_path(@event)
              %li= link_to "Files", event_cms_files_path(@event)
      .col
        = yield

= render template: 'layouts/application'