!!!
%html
  %head
    %title= page_title
    = render partial: 'layouts/head'
  %body
    .mb-4
      = navigation_bar
      - if notice.present?
        .alert.alert-success.alert-dismissible
          %button.close{type: 'button', "data-dismiss" => "alert", "aria-label" => "Close"}
            %span{"aria-hidden" => "true"} &times;
          = notice
      - if alert.present?
        .alert.alert-danger.alert-dismissible
          %button.close{type: 'button', "data-dismiss" => "alert", "aria-label" => "Close"}
            %span{"aria-hidden" => "true"} &times;
          = alert
    - if content_for?(:content)
      = yield(:content)
    - else
      = yield
